.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
.oci/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
crash.log
crash.*.log
dist/
*.generated.zip
*.pem
*.key
*.p12
*.pfx
*.jks
.env
